#bscal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	background-color: #666666;
	border: 0px;
	z-index: 100;
	width: 210px;
	left: 0px;
	top: 0px;
	position: absolute;
}
#bscal .top {
        background: black;
        height: 20px;
}
#bscal .top td, #bscal td.bot{
        color: #ffffff;
        font-family: Tahoma;
        font-size: 11px;
        font-weight: bold;
        padding: 3 5px;
}
#bscal td.bot {
		cursor: pointer;
}
#bscal .but {
        height: 16px;
        border: 1px outset;
        cursor: hand;
}
#bscal .over {
        background: red;
        color: white;
        cursor: pointer;
}


#bscal .week {
        color: #FFFFFF;
        background: #3333333;
}
#bscal .day {
        color: #000000;
        background: #e2e2e2;
}
#bscal .today {
        color: white;
        background: #006699;
}
#bscal TD.weekend {
        color: black;
        background: #FFCCCC;

}
#bsifr {
	width: 210px;
	left: 0px;
	top: 0px;
	position: absolute;
	background-color: #FFFFCC;
	margin: 0px;
	padding: 0px;
	border: none;
	overflow: hidden;

}
