RewriteEngine On
RewriteBase     /new
RewriteRule ^index\.php$ - [L]
RewriteRule (css|images|js)/(.*)  $1/$2 [L,QSA]

RewriteRule  shopcoins/                    index.php?module=shopcoins
RewriteRule (.*)/(.*).php$                 index.php?module=$1&task=$2 [L,QSA]
RewriteRule (.*).php$                      index.php?module=$1 [L,QSA]
RewriteRule (.*)$                          index.php?module=$1 [L,QSA]